/* header*/

body.accueil{
    margin: 0;   
    
}

header.accueil{
    background: linear-gradient(cyan, rgb(122, 176, 207));
    height: 115px;
}    

nav.accueil{
    display: flex;
    justify-content: center;    
}

img#logo{
    position: relative;
    bottom: 80px;
    height: 110px;
}

li#menu{
    width: 110px;
}

li {
    list-style:none !important;
    color:rgb(87, 193, 219);
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }

    nav ul {
    background-color:rgb(122, 176, 207);
    padding:0px;
    margin:0;
    }

    nav ul li {
    list-style: none;
    line-height:60px;
    float:left;
    background-color:#78b0f5;
    }

    nav ul li a {
    color:rgb(245, 249, 250);
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }

    li a:hover {
    border-bottom:3px rgb(83, 209, 199) solid;
    }

    nav ul li ul { 
    display:none; 
    } 

    nav ul li:hover ul {
    z-index:99999999999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
    }

    nav ul li:hover ul li {
    float:none;
    }


    /* MAIN */

    main{
        background-image: url('https://s1.1zoom.me/big0/390/France_Houses_Marinas_458044.jpg');
        background-size: cover;
        height:250vh;
        padding-top: 1px;        
    }

    div.actu{
        display: flex;
        justify-content: center ;
    }
    

    div.texte p{
        display: flex;
        justify-content: center;
    }

    div.btimg{
        display: flex;
        justify-content: center ;
        
    }


    div.blocmain{
        background-color: azure;
        border-radius: 850px;
        opacity: 0.9;
        padding: 15px;
        margin-top: 14px;
        height: 700px;
        margin-left: 150px;
        margin-right: 150px;
    }



    div.bloc2{
        background-color:azure ;
        border-radius: 850px;
        opacity: 0.9;
        padding: 15px;
        margin-top: 50px;
        height: 700px;
        margin-left: 150px;
        margin-right: 150px;
        
    }

    div.texte2 p{
        display: flex;
        justify-content: center;
    }


    div.titre2{
        display: flex;
        justify-content:center ;
    }

    div.img2{
        display: flex;
        justify-content: center;
    }



    div.bloc3{
        background-color:azure ;
        border-radius: 850px;
        opacity: 0.9;
        padding: 15px;
        margin-top: 50px;
        height: 700px;
        margin-left: 150px;
        margin-right: 150px;
        
    }


    div.texte3 p{
        position: relative;
        left: 150px;

        
    }

    div.titre3{
        display: flex;
        justify-content: center;
    }

    h3{
        display: flex;
        justify-content: center;
        position: relative;
        right: 390px;
    }

    div.img3 img{
        height: 330px;       
    }

    div.img3{
        display: flex;
        justify-content: right;
        position: relative;
        right: 190px;
        bottom: 210px;
}

    
    /* footer */
    
    footer{
        height: 12vh;
        background: linear-gradient(cyan, rgb(122, 176, 207)) ;          
        
    }


    div.réso img{
        height:50px;
    }

    img#logobdp{
        height: 50px;
        position: relative;
        left: 890px;
        bottom: 23px;
        opacity: 0.3;
    }    
    
    














